<h1>About</h1>
<p>Hi, I'm Tyler.  Thanks for visiting my very first app.  I am just beginning my "learn to code" quest.  I am working toward a career change and am dedicating much of my time to learn to code. I have become very passionate about doing all I can to learn and expand my skillset. I hope you enjoy this app!</p>